html,
body {
  scroll-behavior: smooth;
}

body {
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  font-family: "PT Sans", sans-serif;
  color: rgba(0, 0, 0, 0.87);
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* STICKY DIV */
.sticky-div-relative {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: relative;
  width: 100%;
  z-index: 2;
}

.sticky-div-fixed {
  display: none;
}

.sticky-div-fixed img {
  display: none;
}

.sticky-div-fixed.removed {
  display: none;
}

.sticky-div-fixed.active {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100px !important;
  background-color: white;
  display: none;
  z-index: 999;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.177);
}

.close-button {
  position: fixed;
  top: 2%;
  right: 0;
  margin-right: 2rem;
  color: rgba(0, 0, 0, 0.5);
  right: 0;
}

.close-button:hover {
  color: rgba(0, 0, 0, 0.9);
}

.sticky-div-fixed.active img {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  height: 100px;
  max-height: 100%;
  width: auto;
  display: block;
}

@media screen and (max-width: 768px) {
  .sticky-div-fixed.active img {
    height: 60px;
    max-height: 100%;
    width: auto;
  }
}

/* PDP TOP */
.pdp-top-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.product-col,
.addtocart-col {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  width: 600px;
  max-width: 100%;
  height: auto;
}

.addtocart-col img {
  width: 100%;
}

.pdp-name-div h1 {
  margin-bottom: 0;
}

.pdp-name-div p {
  margin-top: 0;
}

.product-col img {
  align-self: center;
  width: 100%;
}

.content-row {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .addtocart-col,
  .product-col {
    flex-basis: 80%;
  }
}
/* END PDP TOP */

.border {
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid rgba(0, 0, 0, 0.277);
  width: 80%;
  margin-top: 2rem;
}

/* ACCORDION */
.accordion-container {
  margin-top: 2rem;
}
.accordion {
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.03);
  cursor: pointer;
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.377);
  border-right: none;
  border-left: none;
  border-top: none;
  width: 100%;
  transition: 0.2s;
}

.accordion:hover,
.accordion.active {
  background-color: rgba(0, 0, 0, 0.08);
}

.btn-title {
  margin: auto;
}

#caret-right {
  display: flex;
  color: #27ae60;
  transition: 0.4s;
}

@media screen and (min-width: 992px) {
  .accordion-container {
    display: none;
  }
  .details-container-acc {
    display: none;
  }
}
/* END ACCORDION */

/* TRANSITION ANIMATION */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}
/* TRANSITION ANIMATION */

/* DETAILS CONTAINER ACC */
.details-container-acc {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  flex-basis: 100%;
  width: 100%;
}
/* END DETAILS CONTAINER ACC */

/* HIGHLIGHTS ACC */
.details-div-acc.highlights {
  display: none;
  animation: fade-out 300ms forwards;
}

.details-div-acc.highlights.active {
  display: flex;
  padding: 1rem;
  margin: 1rem;
  justify-content: center;
  flex-wrap: nowrap;
  background: rgba(0, 0, 0, 0.03);
  animation: fade-in 300ms forwards;
}

.highlights-img-div {
  display: flex;
  flex-direction: column;
}

.highlights-img-div img {
  width: 600px;
  max-width: 100%;
  height: auto;
  padding: 1rem;
}

.details-txt-div {
  display: flex;
  flex-direction: column;
  width: 600px;
  max-width: 100%;
  height: auto;
  padding: 1rem;
}

.details-txt-div h3 {
  color: #27ae60;
  margin-bottom: 0;
  line-height: 1.5em;
}

.details-txt-div p {
  margin-top: 0;
  line-height: 1.5em;
}

@media screen and (max-width: 768px) {
  .details-div-acc.highlights.active {
    flex-wrap: wrap;
  }
}
/* END HIGHLIGHTS ACC */

/* INGREDIENTS ACC */
.details-div-acc.ingredients {
  display: none;
  animation: fade-out 300ms forwards;
}

.details-div-acc.ingredients.active {
  display: flex;
  padding: 1rem;
  margin: 1rem;
  justify-content: center;
  flex-wrap: nowrap;
  background: rgba(0, 0, 0, 0.03);
  animation: fade-in 300ms forwards;
}

.ingredients-img-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ingredients-img-div img {
  width: 450px;
  max-width: 100%;
  height: auto;
  padding: 1rem;
}

.ingredients-txt {
  width: 600px;
  max-width: 100%;
  height: auto;
}

.ingredients-txt h3 {
  color: #27ae60;
  text-align: left;
}

.no-list ul,
.no-list li {
  display: flex;
  list-style: none;
  padding: 0.2rem;
}

@media screen and (max-width: 768px) {
  .details-div-acc.ingredients.active {
    flex-wrap: wrap;
    flex-direction: row-reverse !important;
  }
}
/* END INGREDIENTS ACC */

/* PRODUCT INFO ACC */
.details-div-acc.info {
  display: none;
  animation: fade-out 300ms forwards;
}

.details-div-acc.info.active {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 1rem;
  margin: 1rem;
  background: rgba(0, 0, 0, 0.03);
  animation: fade-in 300ms forwards;
}

.info-img-div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.info-img-div img {
  width: 600px;
  max-width: 100%;
  height: auto;
  padding: 1rem;
}

.productInfo-txt {
  display: flex;
  flex-direction: column;
  width: 600px;
  max-width: 100%;
  height: auto;
  padding: 1rem;
}

.info-img-div {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 992px) {
  .details-div-acc.info.active {
    flex-wrap: wrap;
  }
}
/* END PRODUCT INFO ACC */

/* CUSTOMER HIGHLIGHTS ACC */
.details-div-acc.customer-highlights {
  display: none;
  animation: fade-out 300ms forwards !important;
}

.details-div-acc.customer-highlights.active {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 1rem;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.03);
  animation: fade-in 300ms forwards !important;
}

.customer-highlights-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  max-width: 100%;
  height: auto;
  padding: 1rem;
}

.customer-img-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customer-img-div img {
  width: 600px;
  max-width: 100%;
  height: auto;
  padding: 1rem;
}

@media screen and (max-width: 768px) {
  .details-div-acc.customer-highlights.active {
    flex-wrap: wrap-reverse;
  }
}

/* END CUSTOMER HIGHLIGHTS ACC */

/* TABS */
.tab-container {
  display: none;
}

.tab-container.active {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 992px) {
  .tab-container.active {
    display: none;
  }
  .details-container {
    display: none;
  }
  .details-div.highlights.active {
    display: none !important;
  }
  .details-div.customer-highlights {
    display: none !important;
  }
}

.tab-container a {
  text-decoration: none;
}

.tab-btn-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

button.tablinks {
  font-size: large;
  color: rgba(0, 0, 0, 0.377);
  border: none;
  background-color: white !important;
}

button.tablinks.active {
  font-size: large;
  color: rgba(0, 0, 0, 0.87);
  border: none;
  background-color: white !important;
}

button.tablinks:hover {
  cursor: pointer;
  font-size: large;
  color: rgba(0, 0, 0, 0.87) !important;
  border: none;
  background-color: white !important;
}

#caret-down.active {
  color: #27ae60;
  display: block;
  text-align: center;
}

#caret-down {
  display: none;
}
/* END TABS */

/* PRODUCT HIGHLIGHTS */
.details-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  flex-basis: 100%;
  width: 100%;
}

.details-div.highlights {
  display: none;
  animation: fade-out 300ms forwards;
}

.details-div.highlights.active {
  display: flex;
  padding: 1rem;
  margin: 1rem;
  justify-content: center;
  flex-wrap: nowrap;
  background: rgba(0, 0, 0, 0.03);
  animation: fade-in 300ms forwards;
}

.highlights-img-div {
  display: flex;
  flex-direction: column;
}

.highlights-img-div img {
  width: 600px;
  max-width: 100%;
  height: auto;
  padding: 1rem;
}

.details-txt-div {
  display: flex;
  flex-direction: column;
  width: 600px;
  max-width: 100%;
  height: auto;
  padding: 1rem;
}

.details-txt-div h3 {
  color: #27ae60;
  margin-bottom: 0;
  line-height: 1.5em;
}

.details-txt-div p {
  margin-top: 0;
  line-height: 1.5em;
}

@media screen and (max-width: 768px) {
  .details-div.highlights.active {
    flex-wrap: wrap;
  }
}
/* END PRODUCT HIGHLIGHTS */

.legal-fda {
  border: 1px solid black;
}

/* INGREDIENTS */
.details-div.ingredients {
  display: none;
  animation: fade-out 300ms forwards;
}

.details-div.ingredients.active {
  display: flex;
  padding: 1rem;
  margin: 1rem;
  justify-content: center;
  flex-wrap: nowrap;
  background: rgba(0, 0, 0, 0.03);
  animation: fade-in 300ms forwards;
}

.ingredients-img-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ingredients-img-div img {
  width: 450px;
  max-width: 100%;
  height: auto;
  padding: 1rem;
}

.ingredients-txt {
  width: 600px;
  max-width: 100%;
  height: auto;
}

.ingredients-txt h3 {
  color: #27ae60;
  text-align: left;
}

.no-list ul,
.no-list li {
  display: flex;
  list-style: none;
  padding: 0.2rem;
}

@media screen and (max-width: 768px) {
  .details-div.ingredients.active {
    flex-wrap: wrap;
    flex-direction: row-reverse !important;
  }
}
/* END INGREDIENTS */

/* PRODUCT INFO */
.details-div.info {
  display: none;
  animation: fade-out 300ms forwards;
}

.details-div.info.active {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 1rem;
  margin: 1rem;
  background: rgba(0, 0, 0, 0.03);
  animation: fade-in 300ms forwards;
}

.info-img-div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.info-img-div img {
  width: 600px;
  max-width: 100%;
  height: auto;
  padding: 1rem;
}

.productInfo-txt {
  display: flex;
  flex-direction: column;
  width: 600px;
  max-width: 100%;
  height: auto;
  padding: 1rem;
}

.info-img-div {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 992px) {
  .details-div.info.active {
    flex-wrap: wrap;
  }
}
/* END PRODUCT INFO */

/* CUSTOMER HIGHLIGHTS */
.customer-highlights {
  display: none;
  animation: fade-out 300ms forwards;
}

.customer-highlights.active {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 1rem;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.03);
  animation: fade-in 300ms forwards;
}

.customer-highlights-txt {
  display: flex;
  flex-direction: column;
  width: 600px;
  max-width: 100%;
  height: auto;
  padding: 1rem;
}

.customer-img-div {
  display: flex;
  flex-direction: column;
}

.customer-img-div img {
  width: 600px;
  max-width: 100%;
  height: auto;
  padding: 1rem;
}

@media screen and (max-width: 768px) {
  .customer-highlights.active {
    flex-wrap: wrap-reverse;
  }
}
/* END CUSTOMER HIGHLIGHTS */

/* RESULTS */
.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.ingredient-card-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.list-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 10px;
}

.card-col {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: auto;
}

.card {
  display: flex;
  flex-basis: 40%;
  transition: 0.3s;
  width: 300px;
  max-width: 100%;
  height: auto;
  padding: 10px 10px;
  justify-content: flex-start;
  border-radius: 6px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card h4 {
  color: #27ae60;
}

.card h4,
.card p {
  margin: 10px;
}

.ingredient {
  width: 150px;
  height: 150px;
}

@media screen and (max-width: 768px) {
  .card {
    flex-basis: 100%;
    margin: 1rem;
  }
}

/* @media screen and (max-width: 768px) {
  .details-txt-div {
    flex-basis: 80%;
  }
} */
